.board-container {
    overflow: hidden;
    height: 100vh;
    .app-header-border {
        height: 1px;
    }
    .main-content-board-container {
        padding-top: 187px;
        height: 100%;
        overflow-y: hidden;
    }
}
