.kanban {
    height: 100%;
    .main-content {
        margin-top: 5px;
        .add-list-btn {
            min-width: 240px !important;
            height: 35px;
            background-color: rgba(255, 255, 255, 0.475);
            &:hover {
                background-color: $Hover;
            }
        }
        .list-section {
            position: relative;
        }
    }
    .between {
        position: relative;
    }
    .board-bg {
        position: fixed;
        top: 70px;
        left: 0;
        transform: translateX(-100%);
        transition: 0.5s ease-in-out;
    }
    .visible {
        transform: translateX(0);
    }
    @media (max-width: 750px) {
    }
}
