.side-bar {
    bottom: 0;
    top: 0;
    left: 0;
    z-index: 31;
    ul {
        padding: 0;
        li {
            width: 100%;
            font-size: 14px;

            &:hover {
                background-color: #6a6e825e;
                cursor: pointer;
                border-radius: 5px;
            }
        }
    }
    .main-content-side-bar {
        background-color: #292f4c;
        width: 60px;
        height: 100%;
        z-index: 2;
        position: relative;
        padding: 50px 10px 0 10px;
        color: #d5d8df;
        .list-items {
            .sidebar-arrow{
                z-index: 1 !important;
            }
            .notification-item {
                position: relative;
            }
            li {
                font-size: 25px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px 0 10px 0;
                margin-bottom: 5px;
                position: relative;
                &:hover:not(.active) {
                    background-color: #15181d;
                    border-radius: 5px;
                }
                span {
                    position: absolute;
                    right: -23px;
                    font-size: 33px;
                    color: #181b34;
                }
            }
        }
    }
    .mid-line {
        width: 95%;
        height: 1px;
        margin-bottom: 15px;
    }
    
    .outer-side-bar {
        padding-top: 20px;
        overflow: hidden;
        position: relative;
        margin-right: 25px;
        .hide-div {
            width: 10px;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
        }
        .main-content-outer-side-bar {
            width: 1px;
            transition: 0.3s ease-in-out !important;
            padding: 0 10px;
            .top-part {
                li {
                    span {
                        font-size: 15px;
                        margin-right: 5px;
                    }
                    padding: 5px;
                    &:hover {
                        border-radius: 5px;
                    }
                }
                h2 {
                    margin: 0;
                }
            }

            .outer-menu-bottom-part {
                .crm-section {
                    cursor: pointer;
                    padding: 5px 0;
                    width: 100%;
                    &:hover {
                        border-radius: 5px;
                    }
                    .crm-line {
                        width: 100%;
                        padding-right: 15px;
                        span {
                            font-size: 20px;
                            line-height: 0;
                            display: none;
                        }
                        &:hover {
                            .menu-btn {
                                display: block;
                            }
                        }
                    }
                }
                ul {
                    margin: 0;
                    li {
                        padding: 5px 15px;

                        span {
                            font-size: 25px;
                        }
                        .arrow {
                            margin-inline-end: 5px;
                        }
                    }
                }
            }
        }
        .wide {
            width: 230px;
        }
        .my-dropdown-slidedown {
            transition: 0.2s ease-in-out;
            width: 100%;
            li {
                .menu-btn {
                    display: none;
                    line-height: 0;
                    font-size: 10px;
                }
                &:hover {
                    .menu-btn {
                        font-size: 20px;
                        display: block;
                        line-height: 0;
                    }
                }
                p {
                    font-size: 14px;
                    font-weight: 400;
                    width: 100%;
                }
            }
        }
    }

    // THEMES
    .white-div {
        background-color: #ffffff !important;
    }
    .active {
        background-color: #6a6e82;
        border-radius: 5px;
        &:hover {
            background-color: #6a6e82;
            border-radius: 5px;
        }
    }
  
}
