.app-header {
    width: 100%;
    padding: 20px 0 0 0px;
    position: fixed;
    z-index: 30;
    .top-nav {
        z-index: 10;
        height: 40px;
        width: 100%;
        margin-bottom: 5px;
        // .btn {
        //     margin-inline-start: 15px;
         
        // }
        h1 {
            font-size: 2em;
            font-weight: 500;
        }
        p {
            font-size: 14px;
            margin-inline-start: 5px;
        }
        .saved {
            color: gold;
        }
        .save-notification {
            font-size: 16px;
            color: rgb(129, 219, 102);
        }
    }
    .mid-part {
        z-index: 50;
        width: 100%;
        margin-block-end: 10px;
        h1 {
            margin: 0;
            font-weight: 400;
        }
        .nav-tools {
            width: 100%;
            button {
                font-weight: bold;
                margin-inline-end: 5px;
                background-color: transparent;
                width: 95px;
            }
            .app-header-menu-btn {
                width: 50px;
            }
            .views-section {
                width: 100%;
                .add-views-section {
                    position: relative;

                    .btn-add-views {
                        margin-left: 5px;
                    }
                }
                button {
                    font-size: 14px;
                    font-weight: 400;
                    padding: 20px 10px;
                    display: flex;
                    align-items: center;
                    span.plus-sign {
                        font-size: 10px;
                        margin-right: 5px;
                    }
                }
                input {
                    background-color: rgba(255, 255, 255, 0.349);
                    border-radius: 3px;
                    border: none;
                    color: $Text;
                }
            }
        }
    }
}
