.board-toolbar {
    padding: 10px 0;
    ul {
        padding: 0;
        margin: 0;
    }
    .board-tool {
        font-size: 14px;
        font-weight: 400;
        padding: 3px 5px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        .icon {
            margin-inline-end: 5px;
            font-size: 20px;
        }
        button {
            background-color: unset;
            display: flex;
            align-items: center;
            font-weight: 400;
            font-size: 14px;
        }
        .new-deal-dropdown {
            margin-left: 1px;
        }
    }
    .new-deal {
        background-color: #0073ea;
        padding: 0;
        margin-right: 5px;
        border-radius: 4px;
        button {
            font-weight: 500;
            svg {
                font-size: 20px;
            }
        }
        .arrow-btn {
            padding: 0;
            margin: 0;
            border-left: 1px solid black;
            border-radius: 0;
        }
    }
}
