.views-toolbar {
    margin-bottom: 5px;
    width: 100%;
    gap: 5px;
    
    .add-views-section {
        position: relative;
        .btn-add-views {
            margin-left: 5px;
            &:active{
                transition: 0.2s;
                transform: scale(0.90);
            }
        }
    }
    .view-btn {
        font-size: 14px;
        font-weight: 400;
        border-radius: 5px;
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;
        &:hover {
            span.view-type {
                overflow: hidden !important;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 40%;
                padding: 0;
            }
            .hoverable-menu {
                display: block;
                position: absolute;
                right: 15px;
                padding: 0;
                z-index: 50;
                font-size: 20px;
                margin: 0;
                .dots {
                    padding: 0;
                    border-radius: 5px;
                    // &:hover {
                    //     background-color: rgba(0, 0, 0, 0.589);
                    // }
                }
            }
        }
        .icon {
            font-size: 15px;
            margin-inline-end: 5px;
        }
        .hoverable-menu {
            display: none;
        }
        span.plus-sign {
            font-size: 10px;
            margin-right: 5px;
        }

        .active {
            &::after {
                background-color: none repeat scroll 0 0 transparent;
                bottom: -5px;
                content: "";
                display: block;
                height: 2px;
                left: 0;
                position: absolute;
                background: #0073ea;
                transition: width 0.3s ease 0s, left 0.3s ease 0s;
                width: 95%;
            }
        }
    }
}
