.card-details {
    color: #d5d8df;
    .card-details-board {
        padding: 35px 55px;
        z-index: 99;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -49%);
        width: 580px;
        height: 80vh;
        border-radius: 3px;
        overflow-y: auto;
        color: #d5d8df;
        .main {
            position: relative;
            .card-title {
                h1 {
                    margin: 0 0 15px 0;
                    font-weight: 500;
                    font-size: 26px;
                }
            }
            .board-related {
                font-size: 14px;
                margin-bottom: 20px;
            }
            
        }
        @media (max-width: 750px) {
            .card-details-board {
                width: 100vw;
                height: fit-content;
                z-index: 60;
                .main {
                    .left-side {
                        width: 98%;
                    }
                    .right-side {
                        width: 15px;
                        .mobile-menu {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}
