* {
    box-sizing: border-box;
    font-family: $baseFont;
    outline: none;
    border: none;
    &:focus {
        outline: none;
    }
    &:active {
        outline: none;
    }
}

html {
    line-height: 1.5em;
    height: 100%;
}

body {
    background-color: unset;
    margin: 0;
    height: 100%;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: unset;
}

a {
    text-decoration-line: none;
    color: unset;
}

li {
    text-decoration: none;
    list-style: none;
}
p {
    margin: 0;
}

button {
    cursor: pointer;
    height: 30px;
    color: #ffffff;
    min-width: 30px;
    width: fit-content;
    border-radius: 3px;
    font-weight: 100;
    background-color: unset;
    text-decoration: none;
    outline: none;
    border: none;
    &:active {
        transform: scale(0.999);
    }
}

.transition {
    transition: 0.3s ease-in-out;
}

option {
    font-family: $baseFont;
}
::-webkit-scrollbar {
    width: 5px;
    cursor: default !important;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0);
    cursor: default !important;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(104, 104, 104, 0.788);
    border-radius: 10px;
    cursor: default !important;
}
.bRXLtA {
    padding: 0 !important;
}
.gvScMw {
    width: unset !important;
}

//THEME
.dark-theme {
    background-color: #181b34;
    color: #d5d8df;

    .light-hover {
        &:hover {
            background-color: rgba(116, 116, 156, 0.472) !important;
        }
    }

    .board-tool-deal,
    .arrow-btn {
        &:hover {
            background-color: rgba(84, 84, 102, 0.572) !important;
        }
    }

    .hide-div,
    .card-preview {
        background-color: #181b34;
        color: #d5d8df;
    }

    .menu-shadow {
        background-color: #30324e;
        color: #d5d8df;
    }

    .card-details-board {
        -webkit-box-shadow: 4px 8px 31px -11px #000000;
        box-shadow: 4px 8px 31px -11px #000000;
        background-color: #181b34;
        color: #d5d8df;
        font-weight: 300;
    }

    .outer-side-bar {
        border-right: 1px solid rgba(211, 211, 211, 0.438);
    }

    // .main-content-board-container {
    //     background-color: #1c1f3b;
    // }

    //SHADOW LINES
    .shadow-line {
        -webkit-box-shadow: 0px 1px 0px 0px rgba(211, 211, 211, 0.438) !important;
        box-shadow: 0px 1px 0px 0px rgba(211, 211, 211, 0.438) !important;
    }
}

.light-theme {
    background-color: #ffffff;
    color: #323338;
    .hide-div {
        background-color: #ffffff;
    }

    .light-hover {
        color: #323338;
        button {
            color: #323338;
        }
        &:hover {
            background-color: rgba(116, 116, 156, 0.159) !important;
            border-radius: 4px;
        }
    }
    .new-deal button {
        &:hover {
            background-color: rgba(116, 116, 156, 0.559) !important;
            border-radius: 4px;
        }
    }

    .sidebar-arrow {
        color: #fff;
    }

    .card-preview {
        background-color: #ffffff;
        color: #323338 !important;
        -webkit-box-shadow: 2px 4px 1px -4px #000000 !important;
        box-shadow: 2px 4px 1px -4px #000000 !important;
    }
    .card-details-board {
        -webkit-box-shadow: 4px 8px 31px -11px #000000;
        box-shadow: 4px 8px 31px -11px #000000;
        background-color: #ffffff;
        color: #323338 !important;
        font-weight: 300;
    }
    .value {
        &:hover {
            background-color: rgba(73, 104, 189, 0.129) !important;
        }
    }
    
    .menu-shadow {
        background-color: #ffffff;
        color: #323338 !important;
        -webkit-box-shadow: 0px 4px 15px -6px #000000;
        box-shadow: 0px 4px 15px -6px #000000;
        .disabled {
            color: lightgray !important;
        }
    }
    .dots {
        &:hover {
            background-color: #fff;
        }
    }

    .outer-side-bar {
        border-right: 1px solid #cdcfd4;
    }

    //SHADOW LINES

    .shadow-line {
        -webkit-box-shadow: 0px 1px 0px 0px #cdcfd4;
        box-shadow: 0px 1px 0px 0px #cdcfd4;
    }
}
